.App {
    h1 {
        width: 100%;
        text-align: center;
        margin-top: 5rem;
        color: green;
    }

    h3 {
        width: 100%;
        text-align: center;
        color: tomato;
    }
}


// Navbar-Components===============================================
.Navbar-Components {
    top: 0;
    height: 3.6rem;
    width: 100%;
    position: fixed !important;
    z-index: 1000;

    .nav-container {
        .brand-container {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 1.3rem;
            font-weight: bold;
            font-family: Georgia, 'Times New Roman', Times, serif;

            .logo {
                height: 50px;

            }
        }
    }
    
}
// SideBar-Components===============================================
.sidebar-band {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem !important;
    font-weight: bold !important;
    font-family: Georgia, 'Times New Roman', Times, serif;

    .logo {
        height: 40px;

    }
}

// Home-Components
.Home-Components{
    margin-top: 3.6rem;
    // border: 1px solid red;

    .CarouselsSlider-components{
        // border: 1px solid red;
    }
}