
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700&display=swap");

$primary_color: #0d5045;
$secondary_color: #a5f722;
$border_color: #22a38e;
$white_color: #ffffff;
$secondary_font: "Unbounded", cursive;




.home-components{
    .home-container{

    }
}