@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

$primary_color: #0d5045;
$secondary_color: #a5f722;
$border_color: #22a38e;
$white_color: #ffffff;
$secondary_font: "Unbounded", cursive;
$text_font: "DM Sans", sans-serif;

.home-components {
  width: 100%;

  .home-container {
    width: inherit;
    .background-image {
      width: inherit;
    }

    .body-section {
      position: absolute;
      top: 0;
      width: 100%;
      height: 800px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .heading-box {
        margin-top: 140px;
        text-align: center;
        .header {
          margin: 0;
          font-family: $secondary_font;
          font-weight: 700;
          font-size: 64px;
          line-height: 150%;
          color: $white_color;
        }
        .tag {
          margin: 0;
          font-family: $secondary_font;
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 150%;
          background: linear-gradient(
            92deg,
            $secondary_color 25.91%,
            #00ff96 78.3%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .knomore-btn {
          border: none;
          margin-top: 2rem;
          width: 240px;
          height: 75px;
          color: $primary_color;
          font-family: $secondary_font;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          letter-spacing: -0.05em;
          background: linear-gradient(
            94.67deg,
            $secondary_color 1.65%,
            #00ff96 97.53%
          );
          box-shadow: 0px 15px 35px rgba(0, 69, 58, 0.8);
          border-radius: 10px;
          cursor: pointer;
        }
      }

      .page-counter-box {
        right: 0;
        position: absolute;
        width: 5%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;

        .counter-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5rem;

          .icons {
            font-size: 45px;
            color: $white_color;
          }
          .page {
            transform: rotate(270deg);
            font-family: $secondary_font;
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;
            height: auto;
            color: $white_color;
            display: flex;
            gap: 8px;
            .count {
              font-size: 20px;
              color: #009541;
            }
          }
        }
      }

      .scroolimg {
        position: absolute;
        bottom: 1rem;
        right: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        .bg-div {
          border-radius: 50%;
          img {
            border-radius: 50%;
            animation: rotate-animation 20s infinite linear;
          }
        }
        @keyframes rotate-animation {
          0% {
            transform: rotate(0deg);
          }
          50% {
            transform: rotate(180deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        .icons {
          position: absolute;
          color: $white_color;
          font-size: 40px;
        }
      }
    }
  }

  .about-components {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    .background {
      width: 100%;
    }
    .about-container {
      width: 80%;
      position: absolute;
      display: flex;
      margin-top: 4rem;

      .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          margin: 0;
          font-family: $secondary_font;
          font-weight: 900;
          font-size: 36px;
          color: #005f16;
        }
        h2 {
          margin: 0;
          margin-top: 1.5rem;
          font-family: $secondary_font;
          font-weight: 700;
          font-size: 52px;
          color: #009541;
        }
        .tags {
          margin: 0;
          font-family: $text_font;
          font-weight: 700;
          font-size: 36px;
          color: #009541;
        }
        .p-tag {
          font-family: $text_font;
          width: 85%;
          font-weight: 500;
          font-size: 18px;
          color: #664444;
        }
        .p {
          margin-top: 1rem;
        }
        button {
          margin-top: 1rem;
          border: none;
          width: 240px;
          height: 75px;
          font-family: $secondary_font;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          text-align: center;
          letter-spacing: -0.05em;
          color: #0d5045;
          background: linear-gradient(92deg, #a5f822 25.91%, #00ff96 78.3%);
          border-radius: 10px;
        }
      }
      .right {
        width: 50%;
        .item {
          p {
            font-family: $text_font;
            font-weight: 400;
            font-size: 18px;
            color: #664444;
          }
          h3 {
            font-family: $secondary_font;
            font-weight: 400;
            font-size: 22px;
          }
        }
        .item1 {
          width: 35%;
          margin-bottom: 9rem;
          margin-left: 13rem;
          h3 {
            color: #7aa339;
          }
        }
        .item2 {
          width: 35%;
          margin-bottom: 7.5rem;
          margin-left: 3rem;
          h3 {
            color: #27ae60;
          }
        }
        .item3 {
          width: 60%;
          margin-left: 13rem;
          h3 {
            color: #f19d1a;
          }
        }
      }
    }
    .treeimg {
      position: absolute;
      right: 0;
      top: 11rem;
      z-index: 1;
    }
    .aboutus-text {
      top: -6rem;
      position: absolute;
      right: 0;
    }
  }

  .product-components {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .background {
      width: 100%;
    }
    .products-container {
      position: absolute;
      top: 7rem;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        .head {
          font-family: $secondary_font;
          font-weight: 700;
          font-size: 52px;
          color: #005f16;
        }
        .paragraph {
          width: 70%;
          text-align: center;
          font-family: $text_font;
          font-weight: 500;
          font-size: 18px;
          color: #664444;
        }
      }

      .products-items {
        margin-top: 2rem;
      }
    }
    .producttext {
      position: absolute;
      left: 0;
    }
  }

  .review-components {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .background {
      width: 100%;
    }
    .review-container {
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      .container-div {
        width: 78%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h3 {
            font-family: $secondary_font;
            font-weight: 700;
            font-size: 56px;
            color: $white_color;
          }
          p {
            font-family: $text_font;
            font-weight: 500;
            font-size: 24px;
            color: $white_color;
          }
        }
      }
    }
  }

  .contact-components {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .contact-container {
      width: 80%;
      padding: 10rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .left {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .head {
          font-family: $secondary_font;
          font-weight: 900;
          font-size: 36px;
          color: #005f16;
        }
        .tag {
          font-family: $secondary_font;
          font-weight: 700;
          font-size: 52px;
          color: #009541;
        }

        .item {
          display: flex;
          align-items: center;
          gap: 1rem;
          .logo {
            width: 60px;
            height: 60px;
            background-color: #1d3025;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            .icon {
              font-size: 30px;
              color: $white_color;
            }
          }
          .details {
            h4 {
              font-family: $secondary_font;
              font-weight: 600;
              font-size: 24px;
              color: #1d3025;
            }
            p {
              margin: 0;
              font-family: $text_font;
              font-weight: 700;
              font-size: 20px;
              color: #664444;
            }
          }
        }

        .para {
          width: 65%;
          font-family: $text_font;
          font-weight: 400;
          font-size: 20px;
          color: #664444;
        }

        .social-network {
          display: flex;
          align-items: center;
          gap: 2rem;
          .follow {
            font-family: "Gill Sans", sans-serif;
            font-weight: 600;
            font-size: 24px;
            letter-spacing: -0.01em;
            color: #202020;
          }

          .medias {
            display: flex;
            align-items: center;
            gap: 2rem;
            a {
              cursor: pointer;

              .fb {
                color: #1877f2;
                width: 40px;
                height: 40px;
              }
              .in {
                color: #664444;
                width: 40px;
                height: 40px;
              }
              .tw {
                color: #03a9f4;
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }

      .right {
        width: 55%;
        height: 673px;
        box-shadow: 0px 0px 35px rgba(6, 40, 21, 0.1);
        border-radius: 15px;
        display: flex;
        justify-content: right;
        .form-container {
          width: 85%;
          padding: 2rem;

          .head {
            font-family: $secondary_font;
            font-weight: 700;
            font-size: 42px;
            letter-spacing: -0.01em;
            color: #1d3025;
          }

          .form-box {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .input-group {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .input-box {
                height: 85px;
                .input {
                  padding: 18px 20px;
                  border: none;
                  font-family: $text_font;
                  font-weight: 400;
                  font-size: 18px;
                  color: #7e7c87;
                  width: 301px;
                  height: 58px;
                  background: #f5f5f7;
                  border-radius: 4px;
                }
                p {
                  margin: 0;
                  color: red;
                  font-size: 16px;
                  font-family: $text_font;
                }
              }
            }
            .input-box {
              height: 85px;
              .input {
                padding: 18px 20px;
                border: none;
                font-family: $text_font;
                font-weight: 400;
                font-size: 18px;
                color: #7e7c87;
                width: 100%;
                height: 58px;
                background: #f5f5f7;
                border-radius: 4px;
              }
              p {
                margin: 0;
                color: red;
                font-weight: 600;
                font-size: 16px;
                font-family: $text_font;
              }
              .number::-webkit-inner-spin-button{
                display: none;
              }
            }
            .textarea-box {
              .textarea {
                padding: 18px 20px;
                border: none;
                max-height: 200px;
                min-height: 200px;
                width: 100%;
                background: #f5f5f7;
                border-radius: 6px;
                font-family: $text_font;
                font-size: 18px;
                color: #7e7c87;
              }
              p {
                margin: 0;
                color: red;
                font-weight: 600;
                font-size: 16px;
                font-family: $text_font;
              }
            }
            .send-btn {
              margin-top: 2rem;
              border: none;
              height: 60px;
              width: 100%;
              font-family: $secondary_font;
              font-size: 18px;
              color: $white_color;
              background: #009541;
              border-radius: 30px;
            }
            .input:focus {
              outline: none;
            }
            .textarea:focus {
              outline: none;
            }
          }
        }
      }

      .contact-farma {
        left: 30%;
        position: absolute;
      }
    }
    .Side-text{
      position: absolute;
      right: 0;
    }
  }
}
